@font-face {
  font-family: Pontano;
  src: url(assets/fonts/Pontano.ttf);
  }

@font-face {
  font-family: Poiret;
  src: url(assets/fonts/Poiret.ttf);
}

* {
  color: white;
  margin: 0;
  padding: 0;
}

label {
  font-family: 'Pontano';
}

body {
  font-family: 'Poiret';
}


.btn {
  border: none;
  color: white;
  overflow: hidden;
  margin: 1rem;
  font-size: 17px;
  padding: 0;
  width: 150px;
  height: 40px;
  text-transform: lowercase;
  font-family: 'Pontano';
}


.btn-redondo {
  border-radius: 20px;
  box-shadow: 0px 3px 0px #eee;
}

.color-verde {
  background-color: #33be8f;
}
h1 {
  display: inline;
  margin: 45px;
}

input {
  color:#607078;
  font-size:13px;
  width:250px;
  padding-left:15px;
  height:30px;
  line-height:35px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
  font-family: 'Pontano';
  font-size: 15px;
}

.col {
  text-align: center;
  width: 300px;
  display: block;
}
